@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.ant-card-cover img {
  border-radius: 2px 2px 0 0;
  height: 25vh;
  object-fit: cover;
}

.login__description {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

.register__layout {
  background-color: rgb(112, 144, 241) !important;
}

@media screen and (max-width: 1350px) {
  .register__card {
    width: 80%;
  }
  .login__wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 950px) {
  .login__wrapper {
    flex-direction: column;
    height: 90%;
  }
  .login__wrapper_left,
  .login__wrapper_right {
    width: 70%;
    margin: 0 auto;
  }
  .register__card {
    width: 100%;
  }
}
