$main-background: linear-gradient(#00a3ff, #ffa5a5);

.right_icon_antd {
  font-size: 22px;
}

.search_area {
  position: absolute;
  height: 18vh;
  overflow-y: scroll;
  width: 100%;
}

.ant-layout-header {
  background-color: white !important;
  height: 7vh !important;
}

@media (max-width: 1520px) {
  .ant-layout-header {
    background-color: white !important;
    height: 10vh !important;
  }
}
.ant-input-wrapper .ant-input-group {
  border-radius: 15%;
}
