@import '~antd/dist/antd.css';

.ant-btn {
  border-radius: 10px;
}

.ant-layout {
  min-height: 93vh;
}

aside {
  background: white !important;
  margin: 20px 20px;
}

main {
  margin: 20px 20px 20px 0px;
  background-color: white;
  border-radius: 10px;
}

.divider {
  margin-top: 4% !important;
  margin-bottom: 5% !important;
}

.settings__btn {
  border: none !important;
}

.settings__password_btn {
  margin: 3% 0;
  border: none;
}

.recharts-wrapper {
  height: 250px !important;
  width: 250px !important;
}

.nodata__img {
  height: 45vh !important;
}
