@import '~antd/dist/antd.css';

.ant-layout {
  min-height: 93vh;
}

aside {
  background: white !important;
  flex: 0 0 256px !important;
  max-width: 30% !important;
  margin: 3vh 0 0 10vh;
}

main {
  margin: 3vh 3vh 0 5vh;
  background-color: white;
}

.divider {
  margin-top: 4% !important;
  margin-bottom: 5% !important;
}

.settings__btn {
  border: none !important;
  width: 20%;
  margin: 3% 0 0 2%;
}

.settings__password_btn {
  width: 20%;
  margin: 3% 0;
  border: none;
}

.recharts-wrapper {
  height: 250px !important;
  width: 250px !important;
}
