$main-background: linear-gradient(#00a3ff, #ffa5a5);

.right_icon_antd {
  font-size: 22px;
}

.search_area {
  position: absolute;
  height: 18vh;
  overflow-y: scroll;
  width: 100%;
}

.ant-avatar-image {
  background-color: #ffa5a5 !important;
}
.ant-layout-header {
  background-color: cornflowerblue !important;
  height: 10% !important;
}
