$main-background: linear-gradient(#00a3ff, #ffa5a5);

.right_icon_antd {
  font-size: 22px;
}

.search_area {
  position: absolute;
  height: 18vh;
  overflow-y: scroll;
  width: 100%;
}

.ant-layout-header {
  background-color: cornflowerblue !important;
  height: 8% !important;
}
.ant-input-wrapper .ant-input-group {
  border-radius: 15%;
}
